:root {
  font-size: root-font-size;
}
body {
  font-size: 20px;
}
.font-test p.px span.px {
  font-size: 30px;
}
.font-test p.px span.pt {
  font-size: 22.5pt;
}
.font-test p.px span.em {
  font-size: 1.5em;
}
.font-test p.px span.rem {
  font-size: 1.875rem;
}
.font-test p.px span.pr {
  font-size: 150%;
}
.font-test p.rem span.px {
  font-size: 16px;
}
.font-test p.rem span.pt {
  font-size: 12pt;
}
.font-test p.rem span.em {
  font-size: 0.8em;
}
.font-test p.rem span.rem {
  font-size: 1rem;
}
.font-test p.rem span.pr {
  font-size: 80%;
}
.font-test p.em span.px {
  font-size: 50px;
}
.font-test p.em span.pt {
  font-size: 37.5pt;
}
.font-test p.em span.rem {
  font-size: 3.125rem;
}
.font-test p.em span.em {
  font-size: 2.5em;
}
.font-test p.em span.pr {
  font-size: 250%;
}
.font-test p.pt span.px {
  font-size: 26.666666666666668px;
}
.font-test p.pt span.pt {
  font-size: 20pt;
}
.font-test p.pt span.rem {
  font-size: 1.666666666666667rem;
}
.font-test p.pt span.em {
  font-size: 1.333333333333333em;
}
.font-test p.pt span.pr {
  font-size: 133.33333333333334%;
}
.font-test p.pr span.px {
  font-size: 30px;
}
.font-test p.pr span.pt {
  font-size: 22.5pt;
}
.font-test p.pr span.rem {
  font-size: 1.875rem;
}
.font-test p.pr span.em {
  font-size: 1.5em;
}
.font-test p.pr span.pr {
  font-size: 150%;
}
.box {
  height: 20px;
  margin: 5px;
  position: relative;
}
.px .px:before,
.rem .rem:before,
.em .em:before,
.pt .pt:before,
.pr .pr:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  margin: auto;
  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border: 5px solid transparent;
  border-left-color: currentColor;
}
.px .box {
  background: #f00;
}
.px .box.px {
  width: 10px;
}
.px .box.pt {
  width: 7.5pt;
}
.px .box.em {
  width: 0.5em;
}
.px .box.rem {
  width: 0.625rem;
}
.px .box.pr {
  width: 50%;
}
.rem .box {
  background: #ffd700;
}
.rem .box.rem {
  width: 1rem;
}
.rem .box.px {
  width: 16px;
}
.rem .box.pt {
  width: 12pt;
}
.rem .box.em {
  width: 0.8em;
}
.rem .box.pr {
  width: 80%;
}
.em .box {
  background: #800080;
}
.em .box.em {
  width: 1em;
}
.em .box.px {
  width: 20px;
}
.em .box.pt {
  width: 15pt;
}
.em .box.rem {
  width: 1.25rem;
}
.em .box.pr {
  width: 100%;
}
.pt .box {
  background: #ffc0cb;
}
.pt .box.pt {
  width: 10pt;
}
.pt .box.rem {
  width: 0.833333333333333rem;
}
.pt .box.px {
  width: 13.333333333333334px;
}
.pt .box.em {
  width: 0.666666666666667em;
}
.pt .box.pr {
  width: 66.66666666666667%;
}
.pr .box {
  background: #008000;
}
.pr .box.pr {
  width: 50%;
}
.pr .box.pt {
  width: 7.5pt;
}
.pr .box.rem {
  width: 0.625rem;
}
.pr .box.px {
  width: 10px;
}
.pr .box.em {
  width: 0.5em;
}
.multi {
  input: 1em 16px 12pt 100% 1rem 1ch auto 1cx 0 '#10px' '#10px/2em' '20px/3em' 'ff' '#ff' 'ff/20' '#ff/20' '!20px' 'em';
  to-px: 16px 16px 16px 16px 16px 1ch auto 1cx 0 '#10px' '#10px/2em' '20px/3em' 'ff' '#ff' 'ff/20' '#ff/20' '!20px' 'em';
  to-pt: 12pt 12pt 12pt 12pt 12pt 1ch auto 1cx 0 '#10px' '#10px/2em' '20px/3em' 'ff' '#ff' 'ff/20' '#ff/20' '!20px' 'em';
  to-em: 1em 1em 1em 1em 1em 1ch auto 1cx 0 '#10px' '#10px/2em' '20px/3em' 'ff' '#ff' 'ff/20' '#ff/20' '!20px' 'em';
  to-rem: 1rem 1rem 1rem 1rem 1rem 1ch auto 1cx 0 '#10px' '#10px/2em' '20px/3em' 'ff' '#ff' 'ff/20' '#ff/20' '!20px' 'em';
  to-percent: 100% 100% 100% 100% 100% 1ch auto 1cx 0 '#10px' '#10px/2em' '20px/3em' 'ff' '#ff' 'ff/20' '#ff/20' '!20px' 'em';
}
.from-px {
  input: 16px;
  to-px: 16px;
  to-pt: 12pt;
  to-em: 1em;
  to-rem: 1rem;
  to-percent: 100%;
}
.from-pt {
  input: 12pt;
  to-px: 16px;
  to-pt: 12pt;
  to-em: 1em;
  to-rem: 1rem;
  to-percent: 100%;
}
.from-em {
  input: 1em;
  to-px: 16px;
  to-pt: 12pt;
  to-em: 1em;
  to-rem: 1rem;
  to-percent: 100%;
}
.from-rem {
  input: 1rem;
  to-px: 16px;
  to-pt: 12pt;
  to-em: 1em;
  to-rem: 1rem;
  to-percent: 100%;
}
.from-percent {
  input: 100%;
  to-px: 16px;
  to-pt: 12pt;
  to-em: 1em;
  to-rem: 1rem;
  to-percent: 100%;
}

